<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Dialog Demo</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="src/dcModal.css">
    </head>
    <body>
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <div class="container" ng-controller="MainCtrl">
            <div class="hero-unit">
                <h1>Hello!</h1>

                <p>This is Dcom-Angular-Dialog demo. try it out</p>

                <h3>Enjoy coding!</h3>
                <p><small>Build with Yeoman</small></p>
                <a class="btn btn-primary" ng-click="oneDialog()">Open Error dialog</a>
                <a class="btn btn-info" ng-click="twoDialogs()">Open two dialogs</a>
                <a class="btn btn-warning" ng-click="ctrlDialog()">Open dialog with controller</a>
            </div>
        </div>

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>

        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="src/dcModal.js"></script>
    </body>
</html>
