.topmostDialog
    z-index: 10042
    

.dcModalBackdrop
    position: fixed
    top: 0
    right: 0
    bottom: 100%
    left: 0
    z-index: 10030
    background-color: #000
    opacity: 0
    transition: opacity 0.2s ease, bottom 0.05s ease
    &.shown
        opacity: .8
        bottom: 0

.modal
    overflow: hidden
    top: 50%
    left: 50%
    right: auto
    bottom: auto
    outline: 0
    transform: translate(-50%, -50%)

.modal-dialog
    padding: 0